<h1>My Supplement Diary</h1>
<div class="row" ng-controller="SupplementDiaryController as suppDiaryCtrl">
  <button class="btn btn-primary" ng-click="reviewFormCtrl.displayForm = !reviewFormCtrl.displayForm">{{reviewFormCtrl.displayForm ? "Hide Supplement Form" : "Add New Supplement"}}</button>
  <hr />    
  <review-form  ng-show="reviewFormCtrl.displayForm" supplements="suppDiaryCtrl.supplements" categories="suppDiaryCtrl.categories"></review-form>
  <hr />

  <ul class="list-unstyled col-sm-8">
    <li class="supplement row" ng-repeat="supplement in suppDiaryCtrl.supplements">
       <!--SUPPLEMENT IMAGES + RATING DIRECTIVE-->
      <supplement-images></supplement-images>

      <div class="col-sm-9">
        <!--SUPPLEMENT INFO DIRECTIVE-->
        <supplement-info></supplement-info>
        <!--SUPPLEMENT REVIEW DIRECTIVE-->
        <supplement-reviews></supplement-reviews>
        <!--SUPPLEMENT CATEGORIES DIRECTIVE-->
        <supplement-categories></supplement-categories>
      </div>
    </li>
  </ul>
</div>
