<h1>My Supplement Diary</h1>
<div class="row" ng-controller="SupplementDiaryController as suppDiaryCtrl">
  <button class="btn btn-success" ng-click="suppDiaryCtrl.displayForm = !suppDiaryCtrl.displayForm">{{suppDiaryCtrl.displayForm ? "Cancel" : "Create a Supplement Review"}}</button>
  <hr />
  <review-form change-review-form="suppDiaryCtrl.changeReviewForm" supplements="suppDiaryCtrl.supplements" categories="suppDiaryCtrl.categories" ng-show="suppDiaryCtrl.displayForm"></review-form>
  <hr />

  <ul class="list-unstyled col-sm-8">
    <li class="supplement row" ng-repeat="supplement in suppDiaryCtrl.supplements">

      <!--SUPPLEMENT IMAGES -->
      <aside class="col-sm-3">
        <a href="http://www.amazon.com/gp/product/{{supplement.asin}}">
          <img ng-src="http://images.amazon.com/images/P/{{supplement.asin}}.01.ZTZZZZZZ.jpg" alt="Picture of {{supplement.name}}" class="full">
        </a>
        <h5 class="rating">{{supplement.rating}} / 10</h5>
      </aside>

      <!--SUPPLEMENT NAME-->
      <div class="col-sm-9">
        <h3>
          <a href="http://www.amazon.com/gp/product/{{supplement.asin}}">{{supplement.name}}</a>
        </h3>
        <h5>{{supplement.dose}}</h5>

        <cite class="text-muted">by {{supplement.brand}}</cite>

        <!--SUPPLEMENT REVIEW-->
        <p>{{supplement.review}}</p>

        <ul class="list-unstyled">
          <li>
            <span class="category label label-primary" ng-repeat="(key,value) in supplement.categories" ng-show="value === true">{{key}}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
