<form>
  <div class="row">
    <!-- REVIEW FORM -->
    <div class="col-xs-8">
      <div class="input-container">

        <fieldset class="form-group">
          <label for="asin" class="control-label col-sm-2">ASIN:</label>
          <span class="col-sm-9">
                <input type="text" id="asin" class="form-control" maxLength="10" placeholder="ASIN" ng-model="reviewFormCtrl.supplement.asin">
        </span>

        </fieldset>
        <fieldset class="form-group">
          <label for="name" class="col-sm-2 control-label">Name:</label>
          <span class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="Supplement Name" ng-model="reviewFormCtrl.supplement.name">
         </span>
        </fieldset>


        <fieldset class="form-group">
          <label for="dose" class="control-label col-sm-2">Dose:</label>
          <span class="col-sm-9">
                <input type="text" id="dose" class="form-control" maxLength="10" placeholder="Dose" ng-model="reviewFormCtrl.supplement.dose">
            </span>
        </fieldset>

        <fieldset class="form-group">
          <label class="control-label col-sm-2" for="brand">Brand</label>
          <span class="col-sm-9">
                <input type="text" id="brand" class="form-control" placeholder="Brand of Supplement" ng-model="reviewFormCtrl.supplement.brand">
            </span>
        </fieldset>

        <fieldset class="form-group">
          <label class="control-label col-sm-2" for="review">Review</label>
          <span class="col-sm-9">
                <textarea id="review" class="form-control" cols="30" rows="3" placeholder="Write a Review of this Supplement" ng-model="reviewFormCtrl.supplement.review"></textarea>
      </span>
        </fieldset>

        <fieldset class="form-group">
          <label for="rating" class="control-label col-sm-2">Rating:</label>
          <span class="col-sm-9">
                <select class="form-control" id="rating" value="5" ng-model="reviewFormCtrl.supplement.rating" ng-options="rating for rating in [10,9,8,7,6,5,4,3,2,1]">
                    <option value="">Rating of Supplement</option>
                </select>
      </span>
        </fieldset>

        <fieldset class="form-group">
          <span class="col-sm-9 col-sm-offset-2 button-from-hell">
                <button class="btn btn-success">Save Review</button>
      </span>
        </fieldset>
      </div>
    </div>

    <!-- LIVE PREVIEW SECTION -->
    <div class="col-xs-4">
      <section>
        <aside class="col-sm-4">
          <a href="http://www.amazon.com/gp/product/{{reviewFormCtrl.supplement.asin}}">
            <img src="http://images.amazon.com/images/P/{{reviewFormCtrl.supplement.asin}}.01.ZTZZZZZZ.jpg" alt="Picture of {{reviewFormCtrl.supplement.name}}" class="full">
          </a>
          <p></p>
        </aside>
        <aside class="col-sm-8">
        <h5>
         <a href="http://www.amazon.com/gp/product/{{reviewFormCtrl.supplement.asin}}">
          {{reviewFormCtrl.supplement.name || "Name of Supplement"}}
        </a>
        </h5>
        <h5>{{reviewFormCtrl.supplement.dose || "No dose given yet"}}</h5>
        <cite class="text-muted">by {{reviewFormCtrl.supplement.brand || "Manufacturer's Name"}}</cite>

        <p class="preview-review">{{reviewFormCtrl.supplement.review || "No review yet."}}</p>

        <supplement-categories categories="reviewFormCtrl.supplement.categories"></supplement-categories>
        </aside>
    </div>
    </section>
  </div>
  </div>
</form>
